html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

body {
	background-image: url("./images/background.png");

}

h2 {
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

h4 {
	text-decoration: underline;
	font-weight: bold;
}

h4 img {
	margin: 0px 10px 0px 0px;
}

p {
	padding: 0px 0px 10px 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #c3c3c3;
	margin: 2em 0;
	padding: 1px 0px 0px 1px; 
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

a, a:visited, a:link, a:active {
	color: #8cc63f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

#carousel-top img {
	height: 150px;
	width: 100%;
	margin: 20px 0px 20px 0px;
	position: relative;
	opacity: 0.7;
}

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

#header {
	text-align: center;

}

#logo {
	display: inline-block;
	text-indent: -999999px;
	background-image: url("./images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
	width: 280px;
	height: 320px;
	margin-bottom: 20px;
}

#content {
}

#content .text-center {
	text-align: center;
}

#addresshome {
	font-size:30px;
	margin: 0px 10px 0px 0px;
}

#brands {
	text-align: center;
	padding: 5px 0px 10px 0px;
}

#brands img {
	margin: 40px 20px 0px 0px;
	width:75px; /* you can use % */
	height: auto;
	margin-left: 15px;
}

#brands a {
	opacity: 0.7;
}

#brands a:hover {
	opacity: 1;
}


#footer {
	text-align:center;
	margin:30px 0px 25px 0px;
}

#opentime {
	font-size: 28px;
	text-align: center;
}

#google_translate_element {
	text-align: right;
	float: right;
}

#loginform {
	margin: 20px;
}

