html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("./images/background.png");
	color: white;
}

h2 {
	color: #d8f6d5;
	text-decoration: underline;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

h4 {
	color: #d8f6d5;
	text-decoration: underline;
	font-weight: bold;
}

h4 img {
	margin: 0px 10px 0px 0px;
}

p {
	padding: 0px 0px 10px 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d8f6d5;
	margin: 2em 0;
	padding: 1px 0px 0px 1px; 
}

a {
	color: white;
	text-decoration: underline;
}

a:hover, a:visited, a:active {
	color: white;
}


#carousel-top img {
	height: 150px;
	width: 100%;
	margin: 20px 0px 20px 0px;
	position: relative;
	opacity: 0.7;
}

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

#header {
	text-align: center;
}

#logo {
	display: inline-block;
	text-indent: -9999px;
	background-image: url("./images/logo.png");
	background-repeat: no-repeat;
	width: 460px;
	height: 168px;	
}

#brands {
	text-align: center;
	padding: 5px 0px 10px 0px;
}

#brands img {
	margin: 40px 20px 0px 0px;
	width:75px; /* you can use % */
	height: auto;
	margin-left: 15px;
}

#brands a {
	opacity: 0.7;
}

#brands a:hover {
	opacity: 1;
}


#footer {
	text-align:center;
	margin:30px 0px 5px 0px;
}

#opentime {
	font-size: 20px;
	text-align: center;
}

#google_translate_element {
	text-align: right;
	float: right;
}
